# PostgreSQL
DATABASE_URL=postgresql+psycopg://keep_user:keep_password@localhost:5432/keep_db

# JWT
JWT_SECRET=change-me-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60


GOOGLE_API_KEY=grhbsdhn

# App
ENV=development
CORS_ORIGINS=http://localhost:5173
